.doc {
  box-sizing: border-box;
  padding: 0px 32px;
  padding-bottom: 48px;
}

.demo-code {
  margin-top: 16px;
}
.icon-demo {
  border-radius: 0;
}

.doc-markdown h1 {
  margin: 36px;
}

.doc-markdown h2 {
  margin: 24px 0;
}
.doc-markdown table {
  width: 100%;
  border-collapse: collapse;
}

.doc-markdown table th {
  text-align: left;
  background: #aaa;
  color: #fff;
}

.doc-markdown table th,
.doc-markdown table td {
  padding: 12px 8px;
  border-bottom: 1px solid #ccc;
}

.doc-main {
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}

.btn:focus {
  outline: none;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.ripple {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  transition: all ease-out 0.4s;
  opacity: 1;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.do-tabs {
  box-shadow: 0 0 5px #666;
  position: relative;
  overflow: hidden;
}

.do-tabs .tab {
  padding: 12px 18px;
  box-sizing: border-box;
}

.do-tabs .active-bar {
  position: absolute;
  bottom: 0;
  background: #000;
  display: block;
  height: 2px;
  transition: all ease 0.3s;
}

.demos {
  display: flex;
  justify-content: space-between;
}

.demos .demo-column {
  width: 49%;
}

.demos .demo-column.single {
  width: 100%;
}

.demos .demo-column:first-child {
  margin-left: 0;
}

.demo {
  border: 1px solid #ccc;
  margin-bottom: 32px;
}

.demo:hover {
  box-shadow: 0 0 16px #ccc;
}

.demo .demo-components {
  padding: 32px;
  border-bottom: 1px solid #ccc;
}

.demo .demo-content {
  padding: 32px;
  padding-bottom: 24px;
}

.demo .demo-title {
  font-size: 1.1em;
  font-weight: bolder;
  position: relative;
  line-height: 1em;
  margin-bottom: 16px;
}

.demo .demo-code {
  padding-top: 0;
  overflow-x: auto;
}

.demo .demo-code-toggle {
  cursor: pointer;
  float: right;
  font-size: 16px;
}

.demo .demo-code-toggle-line {
  width: 8px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}

.demo p,
.demo pre {
  margin: 0;
}

.demo p {
  line-height: 2em;
  margin-bottom: 0.6em;
}

.demo blockquote {
  margin: 0;
  padding: 8px 16px;
  border-left: 8px solid #000;
  background: #f6f6f6;
  line-height: 0;
  margin-bottom: 8px;
  color: #666;
}

.demo blockquote p {
  line-height: 1.8em;
  margin-bottom: 0;
}

.demo .hljs {
  background: #fff;
  padding: 0;
}

.icon-group {
  display: flex;
  padding: 16px 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.icon-group .icon-demo {
  text-align: center;
  width: 12.2%;
  padding: 16px 0;
  border-radius: 8px;
  position: relative;
}

.icon-group .icon-demo .icno-glyph {
  padding-top: 10px;
  font-size: 12px;
}

.icon-group .icon-demo .copyed-info {
  display: none;
}

.icon-group .icon-demo:hover {
  background: #ccc;
}

.icon-group .icon-demo:hover .icno-glyph,
.icon-group .icon-demo:hover [data-icon='true'] {
  color: #fff;
}

.icon-group .icon-demo:hover .copyed-info {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

body {
  color: #333;
  font-size: 14px;
}

body,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

pre {
  overflow-x: auto;
}

h1,
h2,
h3,
h4 {
  color: #000;
}

img {
  vertical-align: middle;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #ea4335;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ea4335, 0 0 5px #ea4335;
  opacity: 1;
  transform: rotate(3deg) translateY(-4px);
}

.pull-right {
  float: right;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: '';
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.doc {
  box-sizing: border-box;
  padding: 0 32px;
  padding-bottom: 48px;
}

.doc .doc-markdown h1 {
  margin-top: 36px;
}

.doc .doc-markdown h2 {
  margin-top: 24px;
}

.doc .doc-markdown table {
  width: 100%;
  border-collapse: collapse;
}

.doc .doc-markdown table th {
  text-align: left;
  background: #aaa;
  color: #fff;
}

.doc .doc-markdown table td,
.doc .doc-markdown table th {
  padding: 12px 8px;
  border-bottom: 1px solid #ccc;
}

.doc .demo-code {
  margin-top: 16px;
}

.doc .icon-demo {
  border-radius: 0;
}

.doc-main {
  overflow-x: hidden;
}

.doc-main .main-footer .footer-container {
  max-width: 100%;
  padding-top: 8px;
}

.btn {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}

.btn:focus {
  outline: none;
}

.abs-center,
.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.ripple {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-out;
  opacity: 1;
  width: 0;
  height: 0;
}

.do-tabs {
  box-shadow: 0 0 5px #666;
  position: relative;
  overflow: hidden;
}

.do-tabs .tab {
  padding: 12px 18px;
  box-sizing: border-box;
}

.do-tabs .active-bar {
  position: absolute;
  bottom: 0;
  background: #000;
  display: block;
  height: 2px;
  transition: all 0.3s ease;
}

.main {
  display: flex;
}

.main:after,
.main:before {
  display: table;
  content: '';
}

.main-sidebar {
  width: 200px;
  height: calc(100vh - 0px - 32px);
  box-sizing: content-box;
  overflow: auto;
  background: #1a1f25;
  padding-bottom: 32px;
}

.main-sidebar .logo {
  line-height: 80px;
  padding-left: 16px;
}

.main-sidebar .logo img {
  height: 40px;
}

.main-sidebar .nav .nav-menu a {
  width: 100%;
  padding: 8px 0 8px 16px;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  color: #ccc;
}

.main-sidebar .nav .nav-menu a:hover {
  border-right: 3px solid #000;
  background: #000;
}

.main-sidebar .nav .nav-menu .option-tag {
  padding: 12px 16px;
  color: #999;
}

.main-sidebar .nav .nav-menu .nav-menu .option-tag,
.main-sidebar .nav .nav-menu .nav-menu a {
  padding-left: 24px;
}

.main-sidebar .nav .nav-menu .nav-menu .nav-menu a {
  padding-left: 32px;
}

.main-sidebar .nav .nav-menu a.active {
  border-right: 3px solid #000;
  color: #fff;
  background: #000;
}

.main-content {
  width: calc(100vw - 200px);
  height: calc(100vh - 0px);
  overflow-x: hidden;
}

.doc-container {
  min-height: calc(100vh - 60px - 0px);
}

.doc-container:after,
.doc-container:before {
  display: table;
  content: '';
}

.btn-hover:hover {
  background: #d8000b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.56);
}

.has-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.56);
}

.demo {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
}
.demo .demo-title {
  font-size: 18px;
  font-weight: bolder;
  color: #000;
}
.demo .demo-description {
  position: relative;
}
.demo .demo-description .demo-code-toggle {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}
.demo .demo-code {
  border-top: 1px solid #ccc;
}
.demo .margin-row {
  height: 15px;
}
.icon-group {
  display: flex;
  padding: 16px 0;
  flex-wrap: wrap;
  margin-left: 2%;
}
.icon-group .icon-demo {
  text-align: center;
  width: 14%;
  padding: 16px 0;
  border-radius: 8px;
  position: relative;
}
.icon-group .icon-demo .icno-glyph {
  padding-top: 10px;
  font-size: 12px;
}
.icon-group .icon-demo .copyed-info {
  display: none;
}
.icon-group .icon-demo:hover {
  background: #ccc;
}
.icon-group .icon-demo:hover [data-icon='true'] {
  color: #fff;
}
.icon-group .icon-demo:hover .icno-glyph {
  color: #fff;
}
.icon-group .icon-demo:hover .copyed-info {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
